@font-face {
  font-family: "cyberfont";
  src: url("../font/Play/Play-Regular.ttf");
}

a {
  text-decoration: none;
  /* Permet d'enlever le soulignage automatique */
}

img.ordi {
  width: 10%;
  height: auto;
  display: block;
  margin: auto;
  padding: 10px;
}

img {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  padding: 10px;
}

img.exit {
  width: 10%;
  padding-top: 120px;
  width: 5%;
  height: 8%;
}

body.ordifond {
  background-image: url(../image/arasaka.png);
  background-attachment: fixed;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'cyberfont';
  font-size: 20px;
  line-height: 1.5;
  color: rgb(249, 243, 243);
  margin: 10;
  padding: 10;
}

body {
  background-image: url(../image/nightcity.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'cyberfont';
  font-size: 20px;
  line-height: 1.5;
  color: rgb(249, 243, 243);
  margin: 10;
  padding: 10;
}

.main_page {
  background-image: url(../image/cyberspace.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'cyberfont';
  font-size: 20px;
  line-height: 1.5;
  color: rgb(249, 243, 243);
  margin: 10;
  padding: 10;
}

.niveau2 {
  background-image: url(../image/Matrice.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'cyberfont';
  font-size: 20px;
  line-height: 1.5;
  color: rgb(249, 243, 243);
  margin: 10;
  padding: 10;
}

p {
  text-align: center;
  padding: 2px;
  font-family: 'cyberfont';
}

.my-augfiguration {
  --aug-tr: 25px;
  --aug-bl: 30px;
  --aug-br: 30px;
  --aug-border-all: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-inlay-all: 10px;
  --aug-inlay-bg: #fbe806;
  background: linear-gradient(#ff604d, #b1ffff);
  color: #b1ffff;
}

.my-augfiguration::after {
  --aug-border: 15px;
  background-color: rgb(182, 182, 182);
}

.button_niv2 {
  cursor: default;
  border: 0px;
  background: none;
  padding-top: 1, 9px;
  width: 1, 5px;
  height: 6, 5px;
}

button.button_main {
  border: 0px;
  background: none;
}

.Button_start {
  background-color: rgb(230, 25, 7);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  height: auto;
  width: 25%;
  text-align: center;
  font-size: 20px;
  color: rgb(8, 4, 4);
}

.styleme {
  background-color: rgb(230, 222, 7);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  height: auto;
  width: 60%;
  text-align: center;
  font-size: 20px;
  color: rgb(8, 4, 4);
}

.retour {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: rgb(249, 243, 243);
}

.titreordi {
  text-align: center;
  font-size: 40px;
  color: rgb(249, 243, 243);
}

.computer {
  opacity: 0.90;
  background-color: rgb(230, 7, 7);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20px;
  margin: auto;
  height: auto;
  width: 60%;
  text-align: left;
  font-size: 20px;
  color: rgb(8, 4, 4);
}

/* Path: asset\css\style.css */

div.element {
  -webkit-backdrop-filter: blur(15px);
  /* assure la compatibilité avec safari */
  backdrop-filter: blur(15px);
  background-color: rgba(182, 182, 182, 0.2);
  text-align: left;
  display: block;
  width: 60%;
  margin: auto;
  padding: 40px;
  height: auto;
  text-shadow: 3px 3px 3px #000000;
}

.contenu_pied {

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  position: center;
  display: flex;
  margin-left: -7%;
}

.socials li {
  position: relative;
  list-style: none;
  margin: 10%;
}

.socials li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 170%;
}

.socials li a:hover {
  top: -20%;
}


* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Start
*/
.glassBox {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 25%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}

.glassBox,
.glassBox * {
  box-sizing: border-box;
  transition: 400ms;
}

.glassBox__title {
  text-align: center;
  margin-top: 120%;
  color: #FFF;
  font-size: 150%;
  font-weight: 400;
  font-family: "Lato";
}

.glassBox__content {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-family: "Lato";
  letter-spacing: 0.1em;
  opacity: 0;
}

.glassBox:hover .glassBox__imgBox .timer {
  transform: translate(10%, -10%) scale(1.3);
}

/*=================
* TIMER
*=================*/
.timer {
  font-family: "Arimo", sans-serif;
  width: 550px;
  height: 248px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -25%;
  color: white;
}

.timer * {
  cursor: default;
}

.timer--clock {
  width: 100%;
  position: relative;
  padding-left: 6px;
  margin-top: 22px;
  overflow: hidden;
}

.timer--clock .clock-display-grp {
  width: 100%;
  position: relative;
}

.timer--clock .clock-display-grp .number-grp {
  width: auto;
  display: block;
  height: 156px;
  float: left;
  overflow: hidden;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 100%;
  position: relative;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 100%;
  position: relative;
  height: 156px;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 600%;
  line-height: 150px;
  font-weight: bold;
}

.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 156px;
}

.timer--clock .clock-separator p {
  width: auto;
  display: table;
  font-size: 600%;
  line-height: 150px;
  font-weight: bold;
}